@font-face {
    font-family: HPC;
    src: url(HoylePlayingCards.ttf);
  }

#bj.Panel--tm-gray .Panel__in, .Panel--tm-gray::after {
    background-image: url(../img/b.jpg);
    background-repeat: repeat;
    background-size: 100px;
}

.bj_body {
    position: relative;
    width: 100%;
    height: 100%;
}

.card_bot {
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 135px;
    width: 90%;
    margin-left: 5%;
    top: 110px;
}


.card_user {
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 135px;
    width: 90%;
    margin-left: 5%;
    bottom: 20px;
}

.cardempty {
    display: flex;
    color: #8c8f8d;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.2);
    width: 95px;
    height: 135px;
    border-radius: 10px;
}

@keyframes carding {
    0% {
        transform: translate3d(-100vw, 0vh, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

.card {
    animation: carding 1s ease;
    background: #eff3ef;
    background: linear-gradient(to top, #cecece, #eff3ef);
    width: 95px;
    height: 135px;
    border: 1px solid #8c8f8d;
    border-radius: 10px;
    box-shadow: 7px 7px 10px rgba(0,0,0,0.4);
}

.card.active {
    transition: 1s;
}

.card.hidden {
    transition: 1s;
    background: linear-gradient(to top, #462d69, #533879);
    background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%);
    background-size: 1em 1em;
    background-color: #533879;
    width: 95px;
    height: 135px;
    border: 1px solid #2b1747;
    border-radius: 10px;
    box-shadow: 7px 7px 10px rgba(0,0,0,0.4);
}

.card > .front > .name {
    font-family: HPC, Arial, sans-serif;
    justify-content: flex-end;
    align-items: flex-start;
    font-weight: 600;
    position: static;
    margin: 3px 10px;
    font-size: 20pt;
}

.card > .front > .icon {
    position: static;
    display: flex;
    justify-content: center;
}

.card > .front > .icon.hidden {
    position: relative;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.card > .front > .icon > img {
    width: 60px;
    height: 60px;
}

.card_h, .card_d {
    color: #a31919;
}

.card_c, .card_s {
    color: #000000;
}

.card:first-child ~ div {
    margin-left: -60px;
}

.madd {
    position: absolute;
    bottom: 165px;
    left: 50%;
    z-index: 10;
}

.mreplay {
    position: absolute;
    bottom: 165px;
    right: 50%;
    z-index: 10;
}

.mopen {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 260px;
    z-index: 10;
}

.panelbot {
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 260px;
    z-index: 10;
}

.balancebot {
    background: rgba(0,0,0,0.2);
    border-radius: 50px;
    padding: 7px;
}

.paneluser {
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 200px;
    z-index: 10;
}

.balanceuser {
    background: rgba(0,0,0,0.2);
    border-radius: 50px;
    padding: 7px;
}